<!-- app/views/recipes/new.html.erb -->
<%= form_with url: recipes_path, method: :post, local: true do |form| %>
<div class="bg-white shadow-md rounded-lg p-6 mb-6">
  <!-- カレンダー部分 -->
  <%= month_calendar do |date_range, start_date| %>
  <%= render partial: 'simple_calendar/month_calendar', locals: { calendar_form: form, start_date: start_date, date_range: date_range } %>
  <% end %>
</div>

<div class="bg-white shadow-md rounded-lg p-6">
  <!-- フォーム部分 -->
  <h2 class="text-lg font-bold mb-4">献立作成</h2>
  <%= render 'recipes/form', form: form %>

  <!-- 送信ボタンをここに移動 -->
  <div class="text-center mt-6">
    <%= form.submit '献立作成', class: 'btn btn-primary text-lg px-6 py-3 rounded bg-blue-500 text-white hover:bg-blue-700 transition duration-200' %>
  </div>
</div>
<% end %>