<!DOCTYPE html>
<html lang="ja">

<head>
  <%= yield :head %>
  <%= show_meta_tags %>

  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# アイコン関連をグループ化 %>
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render 'shared/header' %>

  <div class="flash-messages">
    <% flash.each do |key, message| %>
    <div class="flash <%= key == 'notice' ? 'flash-success' : 'flash-error' %> <%= key %>" role="alert">
      <%= message %>
    </div>
    <% end %>
  </div>

  <main>
    <%= yield %>
  </main>

  <%= yield :additional_js %>
  <%= render 'shared/footer' %>
</body>

</html>