<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "パクラク（献立提案アプリ）" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-cache-control" content="no-cache">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="manifest" href="/manifest.json">
  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">
  <%# 正しい方法でTailwindCSSを読み込む %>
  <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
  <script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>
  <link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
</head>

<body>
  <div class="flash-messages">
    <% flash.each do |key, message| %>
    <div class="flash <%= key == 'notice' ? 'flash-success' : 'flash-error' %>">
      <%= message %>
    </div>
    <% end %>
  </div>
  <%= render 'shared/header' %>
  <%= yield %>
  <%= yield :additional_js %>
</body>

</html>